version: "3"
services:
    icecast:
      build: 
        dockerfile: ../infrastructure/backend/Dockerfile
        context: ../player
      ports:
        - 127.0.0.1:1234:8443
      networks:
        - tugaza
      environment:
        - SOURCE_PASSWORD=abc
        - RELAY_PASSWORD=def
        - ADMIN_USERNAME=admin
        - ADMIN_PASSWORD=hackmeplease
        - ADVERTISED_HOSTNAME=
      volumes:
        - ./shared_storage:/data
        - ./pki:/pki
        - /tmp/volatile:/volatile
      logging:
        driver: "json-file"
        options:
          max-size: "500k"
    redis:
        image: redis
        networks:
          - tugaza
    apashi:
      build: 
        context: ./gui/
      networks:
        - tugaza
      logging:
        driver: "json-file"
        options:
          max-size: "500k"
      ports:
        - 1235:443
      volumes:
        - ../gui/:/src/
        - ./pki/:/pki/
        - /tmp/volatile:/volatile
        - ./shared_storage:/data/
networks:
  tugaza: